openai
groq
google-generativeai
mistralai

langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
langchain-text-splitters

faiss-cpu
chromadb
sentence-transformers

tiktoken

python-dotenv
pydantic
pydantic-settings

fastapi
uvicorn

requests
httpx
numpy
pandas
tqdm

pypdf
python-docx
unstructured

torch